<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('../_extendables/head_links') %>
</head>

<body>
 <%- include('../_extendables/nav') %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="box-shadow: 23px">Node JS Blog</h1>
            <span class="subheading">One step to building real blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% articles.forEach(article => { %>
        <div class="post-preview">
          <a href="<%= article.slug %>">
            <h2 class="post-title">
              <%= article.title %>
            </h2>
            <h3 class="post-subtitle">
              <%= article.description %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about">Pius Lucky</a>
            on <%= article.published.toLocaleDateString() %></p>
        </div>
        <hr>
        <% }) %>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#"><%= total_post %>&nbsp; posts so far!</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <%- include('../_extendables/footer-scripts') %>

</body>

</html>
